<div id="details-container">

  <figure class="recipe-img-fig">
    <img src="../assets/food-placeholder.jpg" alt="Tomato" class="recipe-img">
    <h1 class="recipe-title">
      <span>Pasta with tomato cream sauce</span>
    </h1>
  </figure>

  <div class="recipe-details">
    <div class="recipe-info">
      <span class="recipe-info-data"><i class="far fa-clock"></i> 45</span>
      <span class="recipe-info-text"> minutes</span>
    </div>
    <div class="recipe-info">
      <span class="recipe-info-data"><i class="far fa-user"></i> 4</span>
      <span class="recipe-info-text"> servings</span>
      <div class="recipe-info-buttons">
        <button class="btn-tiny">
          <i class="far fa-minus-square"></i>
        </button>
        <button class="btn-tiny">
          <i class="far fa-plus-square"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="recipe-ingredients">
    <ul class="recipe-ingredient-list">

      <li class="recipe-item">
        <span class="recipe-count"><i class="far fa-check-circle"></i> 1000</span>
        <div class="recipe-ingredient">
          <span> g</span>
          <span> pasta</span>
        </div>
      </li>

      <li class="recipe-item">
        <span class="recipe-count"><i class="far fa-check-circle"></i> 1/2</span>
        <div class="recipe-ingredient">
          <span> cup</span>
          <span> ricotta cheese</span>
        </div>
      </li>

      <li class="recipe-item">
        <span class="recipe-count"><i class="far fa-check-circle"></i> 1</span>
          <div class="recipe-ingredient">
            <span> can</span>
            <span> of tomatoes, whole or crushed</span>
          </div>
      </li>

      <li class="recipe-item">
        <span class="recipe-count"><i class="far fa-check-circle"></i> 1</span>
        <div class="recipe-ingredient">
          <span> can</span>
          <span> tuna packed in olive oil</span>
        </div>
      </li>

      <li class="recipe-item">
        <span class="recipe-count"><i class="far fa-check-circle"></i> 1/2</span>
        <div class="recipe-ingredient">
          <span class="recipe-unit"> cup</span>
          <span class="recipe-unit"> grated parmesan cheese</span>
        </div>
      </li>

      <li class="recipe-item">
        <span class="recipe-count"><i class="far fa-check-circle"></i> 1/4</span>
        <div class="recipe-ingredient">
          <span class="recipe-unit"> cup</span>
          <span class="recipe-unit"> fresh basil, chopped or torn</span>
        </div>
      </li>

    </ul>
  </div>

  <div class="recipe-directions">
    <p class="recipe-directions-text">
      <span class="normal-directions-span">This recipe was carefully designed and tested by</span>
      <br>
      <span class="author-directions-span">The Pioneer Woman</span>
      <br>
      <span class="normal-directions-span">Please check out directions at their website.</span>
    </p>
    <a class="btn-small" href="http://thepioneerwoman.com/cooking/pasta-with-tomato-cream-sauce/" target="_blank">
      <span><i class="fas fa-angle-right"></i> Directions <i class="fas fa-angle-left"></i></span>
    </a>
  </div>

</div>
