@import "abstracts/variables";
@import "abstracts/mixins";

:host {
  padding: $elem-margin;
  position: absolute;
  //top: calc(#{$header-height} + 2 * #{$elem-margin});
  top: $header-height;
  left: 0;
  width: $searcher-width;
  //height: calc(100% - #{$header-height} - 4 * #{$elem-margin});
  height: calc(100% - #{$header-height});

  @include unscrollableScreenWidth {
    width: calc(#{$min-screen-width} * .2);
  }

  @include unscrollableScreenHeight {
    height: calc(#{$min-screen-height} - #{$header_height});
  }
}

#search-container {
  background: $elem-background;
  height: 100%;
  border-radius: $elem-border-radius;
  text-align: left;

  .search {
    align-items: center;
    transition: all .3s;
    text-align: center;

    .search-field {
      border: none;
      border-radius: $elem-border-radius;
      margin: $elem-margin;
      font-size: 1.0rem;
      width: calc(100% - 2 * #{$elem-margin});
      height: 2rem;
      padding: 0 .5rem;

      &:focus {
        outline: none;
      }
    }

    .search-button {
      height: 2rem;
      width: calc(100% - 2 * #{$elem-margin});
      border: none;
      border-radius: $elem-border-radius;
      background: $search-button-bg;
      margin: 0;
      font-size: 1rem;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
        background: $search-button-bg-hover;
      }

      &:active {
        background: $search-button-bg-active;
      }

      i {
        font-size: 1rem;
        color: $font-white;
      }

      span {
        font-size: 1rem;
        color: $font-white;
      }
    }
  }
}

.result-container {
  background-color: $elem-background-light-1;
  height: calc(100% - 8.5rem);
  overflow-y: scroll;
  margin-top: $elem-margin;

  .results-list {
    padding: 0;
    margin: .5rem 0;
  }
}

.pages-nav-container {
  position: absolute;
  display: inline-block;
  bottom: calc(#{$elem-border-radius} + 1rem);
  left: 0;
  padding: 0 1rem;
  width: 100%;

  .btn-inline {
    color: $font-orange;
    background-color: $elem-background-light-1;
    border: none;
    padding: .3rem .1rem;
    border-radius: $elem-border-radius;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all .2s;

    span {
      margin: 0 .4rem;
      font-size: .8rem;

      i {
        font-size: .8rem;
      }
    }

    &:hover {
      transform: scale(1.05);
      color: $font-orange-dark;
      background-color: white;
    }

    &:active {
      transform: scale(1);
    }

    &:focus {
      outline: none;
    }
  }

  .pages-nav-btn-prev {
    float: left;
    flex-direction: row-reverse;
  }

  .pages-nav-btn-next {
    float: right;
  }
}
