@font-face {
  font-family: 'LatoLatinWebLight';
  src: url('fonts/lato/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/lato/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/lato/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
  url('fonts/lato/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
  url('fonts/lato/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoLatinWebLight';
  src: url('fonts/lato/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/lato/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/lato/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
  url('fonts/lato/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
  url('fonts/lato/LatoLatin-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}
