@import "vars";

:host {
  padding: $elem-margin;
  position: absolute;
  top: calc(#{getSize(header-height)} + 2 * #{$elem-margin});
  left: calc(#{getSize(searcher-width)} + #{getSize(details-width)} + 4 * #{$elem-margin});
  width: calc(100% - #{getSize(searcher-width)} - #{getSize(details-width)} - 6 * #{$elem-margin});
  height: calc(100% - #{getSize(header-height)} - 4 * #{$elem-margin});

  @include unscrollableScreenHeight {
    height: calc(#{$min-screen-height} - #{$header_height} - 4 * #{$elem-margin});
  }

  @include unscrollableScreenWidth {
    left: calc(#{$min-screen-width} * .5 + 4 * #{$elem-margin});
    width: calc(#{$min-screen-width} * .5 - 6 * #{$elem-margin});
  }
}

#calender-container {
  padding: $elem-margin;
  background: getColor(elem-background);
  height: calc(100% - 2 * #{$elem-margin});
  width: calc(100% - 2 * #{$elem-margin});
  border-radius: $elem-border-radius;
}


.flex-container {
  display: flex;
  height: calc(100% - 12rem - 2 * #{$elem-margin});

  .sub-column {
    padding: $elem-margin;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: $elem-border-radius;
    border-bottom-right-radius: $elem-border-radius;

    .heading-container {
      height: 2rem;
      width: 100%;
      display: grid;
      transform: skewY(-5deg);
      text-align: center;
      margin: .5rem 0;

      .heading {
        align-self: center;
        cursor: default;
        background: getColor(background);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .sub-list {
      background-color: getColor(elem-background-light);
      border-radius: $elem-border-radius;
      padding: 0;
      height: calc(100% - 2rem);
      list-style: none;
      max-height: 77rem;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .recipes {
    height: 100%;
    width: 50%;
  }
}


