$colors: (
  background: linear-gradient(to right bottom, #fbb26c, #f46052) no-repeat,
  elem-background: #e5e5e5,
  elem-background-light: lighten(#e5e5e5, 5%),
  search-item-hoover: lighten(#e5e5e5, 10%),
  button-background-hover: darken(#e5e5e5, 10%),
  button-background-active: darken(#e5e5e5, 30%),
  light-button-color: white,
  search-button-background: linear-gradient(to right bottom, #fbb26c, #f46052) no-repeat,
  search-button-background-hover: linear-gradient(to right bottom, darken(#fbb26c, 7%), darken(#f46052, 7%)) no-repeat,
  search-button-background-active: linear-gradient(to right bottom, darken(#fbb26c, 15%), darken(#f46052, 15%)) no-repeat,
  font-white: white,
  font-black: black,
  font-grey: #968B87,
  font-orange: #F59A83,
  font-orange-dark: darken(#F59A83, 20%),
);

@function getColor($color-name) {
  @return map-get($colors, $color-name)
}

$sizes: (
  header-height: 3rem,
  searcher-width: 20vw,
  details-width: 30vw,
);

@function getSize($size-name) {
  @return map-get($sizes, $size-name)
}

$header_height: 3rem;

$elem-margin: 5px;
$elem-border-radius: 10px;

$min-screen-width: 1400px;

@mixin unscrollableScreenWidth {
  @media(max-width: #{$min-screen-width}) {
    @content;
  }
}

$min-screen-height: 1000px;

@mixin unscrollableScreenHeight {
  @media(max-height: #{$min-screen-height}) {
    @content;
  }
}
