@import "vars";

@font-face {
  font-family: 'LatoLatinWebLight';
  src: url('fonts/LatoLatin-Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
  url('fonts/LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
  url('fonts/LatoLatin-Light.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'LatoLatinWebLight';
  src: url('fonts/LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
  src: url('fonts/LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
  url('fonts/LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
  url('fonts/LatoLatin-LightItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: normal;
}

* {
  margin: 0;
  font-family: LatoLatinWebLight, sans-serif;
  font-size: 1.5rem;
}

.btn-tiny {
  height: .75rem;
  width: .75rem;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover i {
    transform: translateY(-1px);
  }

  &:active i {
    transform: translateY(1px);
  }

  &:not(:last-child) {
    margin-right: .3rem;
  }

  i {
    //height: 100%;
    width: 100%;
    transition: all .3s;
  }
}

.btn-small {
  background: getColor(background);
  border-radius: $elem-border-radius;
  border: none;
  text-transform: uppercase;
  color: getColor(font-white);
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all .2s;
  font-size: 1.0rem;
  padding: .2rem;
  text-decoration: none;

  &:hover {
    transform: scale(1.05);
    background: getColor(search-button-background-hover);
  }

  &:active {
    transform: scale(1);
    background: getColor(search-button-background-active);
  }

  &:focus {
    outline: none;
  }

  i, &:link i, &:visited i {
    font-size: 1.0rem;
    height: .5rem;
    width: .5rem;
  }

  span {
    font-size: 1.0rem;
    padding: .2rem .7rem;
    text-decoration: none;
  }
}

#date-picker {
  width: 100%;
  height: 12rem;

  div.ngb-dp-header {
    background-color: getColor(elem-background-light);

    ngb-datepicker-navigation {
      .ngb-dp-arrow > button {

        cursor: pointer;
        border-radius: $elem-border-radius;

        span {
          font-size: 1rem;
        }

        &:hover {
          background-color: getColor(button-background-hover);
        }
      }

      .ngb-dp-month-name {
        font-weight: 500;
        background-color: inherit;
      }
    }
  }

  div.ngb-dp-months {
    background-color: getColor(elem-background-light);

    div.ngb-dp-month {
      width: 100%;

      ngb-datepicker-month-view > div.ngb-dp-week.ngb-dp-weekdays {
        padding-bottom: .9rem;
      }

      ngb-datepicker-month-view > div.ngb-dp-week {
        padding-bottom: .3rem;
        cursor: default;
        display: flex;

        .ngb-dp-day {
          flex-grow: 1;
          display: grid;
          height: 1rem;

          &:focus {
            outline: none;
          }
        }

        .ngb-dp-weekday {
          font-size: .7rem;
          height: 1rem;
          width: 100%;
          flex-grow: 1;
          align-self: center;
          font-weight: 600;
        }

        .ngb-dp-day > .btn-light {
          font-size: .7rem;
          height: 1.2rem;
          width: 100%;
          flex-grow: 1;
          align-self: center;
          line-height: 1.4rem;
          font-weight: 600;

          &:hover {
            background-color: getColor(button-background-hover);
          }

          &.rm-selected {
            border: none;
            outline: none;
            background: getColor(background);
          }
        }
      }
    }
  }
}
