@import "abstracts/variables";

.recipe-it {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  transition: all .3s;
  text-decoration: none;

  &:hover {
    background-color: $elem-background-light-2;
    transform: translateY(-2px);
  }

  .recipe-fig {
    flex: 0 0 2rem;
    border-radius: 50%;
    overflow: hidden;
    height: 2rem;
    margin: 0 .5rem 0 0;
    position: relative;
    backface-visibility: hidden;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: all .3s;
    }
  }
}

.recipe-data {
  .recipe-name {
    font-size: .8rem;
    color: $font-orange;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: .3rem;
  }
}
