<div id="header-container">
  <div class="logo-container">
    <span id="logo-span" class="logo-span"><i class="fas fa-utensils"></i> RecipeManager</span>
  </div>
  <div class="nav-container">
    <button class="nav-button"><i class="fas fa-home"></i> Home </button>
    <button class="nav-button"><i class="fas fa-users"></i> Profile </button>
    <button class="nav-button"><i class="fas fa-question"></i> About </button>
  </div>
  <div class="prof-container">
    <span class="prof-span">John Wolfen</span>
    <img class="main-avatar"
         src="../../../assets/avatar-placeholder.png"
         id="user-avatar">
  </div>
</div>
